body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  position: absolute;
  background-color: steelblue;
  color: white;  
  height: fit-content;
  width: 100vw;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.title{
  margin: 0px;
  position: relative;
  padding: 5px;
  text-align: center;
}

.text{
  font-size: 20px;
  position: relative;
  top: 0px;
}

.footer{
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0px;
  background-color: lightsteelblue;
  text-align: center;
  color: white;
}